<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Rootpath" value="C:\inetpub\wwwroot\DuncanLewis_NewWebsite_Revised" />
    <add key="RootpathNewWebsite" value="C:\inetpub\wwwroot\DuncanLewis_NewWebsite_Revised_2017" />
  <add key="RootpathCostLawWebsite" value="C:\inetpub\wwwroot\CostLaw\CostLaw" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="HRDDLEntities" connectionString="metadata=res://*/HRDL.csdl|res://*/HRDL.ssdl|res://*/HRDL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATASRV6\SQL2008R2;initial catalog=HRDDL;user id=hrind;password=hr1nd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="IT_DatabaseEntities" connectionString="metadata=res://*/Itdatabase.csdl|res://*/Itdatabase.ssdl|res://*/Itdatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLDDBSRV1;initial catalog=IT_Database;persist security info=True;user id=itdatabase;password=1tdatabase;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DLWEBEntities" connectionString="metadata=res://*/DLWEB.csdl|res://*/DLWEB.ssdl|res://*/DLWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLW;initial catalog=DLWEB;user id=DLWEB;password=D1$%gjK(?@34hg;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DLWEBEntities" connectionString="metadata=res://*/DLWEB.csdl|res://*/DLWEB.ssdl|res://*/DLWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=77.68.79.152;initial catalog=WEBDL;user id=webdl;password=W3bd1£$%;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IT_DatabaseEntities" connectionString="metadata=res://*/Itdatabase.csdl|res://*/Itdatabase.ssdl|res://*/Itdatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DLDDBSRV5;initial catalog=IT_Database;persist security info=True;user id=itdatabase;password=1tdatabase4321$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRDDLEntities" connectionString="metadata=res://*/HRDL.csdl|res://*/HRDL.ssdl|res://*/HRDL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dlddbsrv6;initial catalog=HRDDL;user id=hruser;password=hrus3r1234$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>