body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




#CreateDiv input, #CreateDiv textarea, #CreateDiv select {
    margin-bottom: 5px !important;
}

    #CreateDiv input[type=text], #CreateDiv textarea, #CreateDiv select {
        min-width: 100%;
        width: 100%;
    }

/*#region tr color coding */
.RedTr {
    background-color: lightcoral;
}

.OrangeTr {
    background-color: lightsalmon;
}

.YellowTr {
    background-color: lightgoldenrodyellow;
}

.GreenTr {
    background-color: #d7fcd0;
}

/*#endregion */

#SearchDiv select, #SearchDiv input[type=text] {
    max-width: 200px !important;
    width: 200px !important;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}